body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.redsep {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.categories-header {
    text-align: center;
    margin: 20px 0;
}

.categories-bar {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.categories-bar .nav-link {
    color: #020202;
    margin: 0 10px;
}

.categories-bar .nav-link:hover {
    color: #060000;
    text-decoration: underline;
}

.no-content {
    text-align: center;
    font-size: 2rem;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.card-img-top {
    transition: transform 0.3s ease;
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top:hover {
    transform: scale(1.1);
}


.img-hover-zoom {
    transition: transform 0.3s ease;
    display: block;
    max-width: 300px;
    height: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-hover-zoom:hover {
    transform: scale(1.05);
}

.fav-list {
    overflow: hidden;
}


.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.category {
    font-size: 0.7em;
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.active-category {
    font-weight: bold;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.profile-image {
    width: 75%;
    border-radius: 15px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.page-link {
    background-color: #188181;
    color: #fff;
    border-radius: 4px;
}

.page-link:hover,
.page-link:active {
    background-color: #fff;
    color: #23BBBB;
    border-radius: 4px;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.post-category {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    border: none;
}

.btn-secondary {
    background-color: #188181;
    color: #fff;
    margin-bottom: 10px;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #fff;
    color: #23BBBB;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.no-underline {
    text-decoration: none;
}

.post-create,
.post-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.post-create h1,
.post-edit h1 {
    margin-bottom: 20px;
}

.btn-create,
.btn-edit,
.btn-del,
.btn-success {
    margin-left: 10px;
    margin-bottom: 10px;
}

.post-delete {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .summernote-div iframe {
        width: 100% !important;
        height: auto !important;
        min-height: 300px;
    }

    iframe {
        width: 100% !important;
        height: auto !important;
        min-height: 300px;
    }

    img {
        width: 100% !important;
        height: auto !important;
    }
}