{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>My Favorites</h1>
            {% if favorites %}
                <ul class="list-unstyled">
                    {% for favorite in favorites %}
                        <li class="fav-list">
                            <a href="{% url 'blog:post_detail' slug=favorite.post.slug %}" class="text-decoration-none">
                                <h3>{{ favorite.post.title }}</h3>
                                {% if "placeholder" in favorite.post.featured_image.url %}
                                    <img class="img-hover-zoom" src="{% static 'images/default.webp' %}" alt="placeholder image">
                                {% else %}
                                    <img class="img-hover-zoom" src="{{ favorite.post.featured_image.url }}" alt="{{ favorite.post.title }}">
                                {% endif %}
                            </a>
                            <hr>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven't added any favorites yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
