{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="post-edit mb-5">
        <h1 class="mb-4">Edit Post</h1>
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-secondary me-md-2">Save</button>
            <a href="{% url 'blog:post_detail' slug=post.slug %}" class="btn btn-cancel me-md-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}