{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
            <img src="{% static 'images/nobody.webp' %}" class="profile-image" alt="{{ about.title }}">
            {% else %}
            <img src="{{ about.profile_image.url }}" class="profile-image" alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's collaborate!</h2>
            <p>Your ideas and visions are unique and valuable. Imagine what we can achieve together by combining our strengths!
                Whether you're planning an exciting project, seeking a creative exchange, or simply want to share your thoughts 
                with someone as passionate as you - I'm here to listen and contribute. 
                Let's push the boundaries of what's possible and create something new together. Your perspective is the key to 
                exciting, new paths. 
                Contact me, and let's embark on a journey of creative collaboration!</p>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}